<?xml version='1.0' encoding='utf-8'?>
<widget id="com.freddycorp.tapandslide" version="0.1.4" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Tap'n Slide</name>
    <description>
        Tap and slide online
    </description>
    <author email="contact@freddycorp.fr" href="http://freddycorp.fr">
        Freddy Corp.
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Fullscreen" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <platform name="android">
        <icon density="mdpi" src="icon/res/mipmap-mdpi/icon.png" />
        <icon density="hdpi" src="icon/res/mipmap-hdpi/icon.png" />
        <icon density="xhdpi" src="icon/res/mipmap-xhdpi/icon.png" />
        <icon density="xxhdpi" src="icon/res/mipmap-xxhdpi/icon.png" />
        <icon density="xxxhdpi" src="icon/res/mipmap-xxxhdpi/icon.png" />
        <preference name="Orientation" value="portrait" />
    </platform>
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~7.0.0" />
    <plugin name="cordova-plugin-battery-status" spec="~1.2.4" />
    <plugin name="cordova-plugin-device" spec="~1.1.6" />
    <plugin name="cordova-plugin-dialogs" spec="~1.3.3" />
    <plugin name="cordova-plugin-file" spec="~4.3.3" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.7.1" />
    <plugin name="cordova-plugin-network-information" spec="~1.3.3" />
    <plugin name="cordova-plugin-media" spec="^5.0.2" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="NetworkStatus" />
    <plugin name="cc.fovea.cordova.purchase" spec="^7.1.3">
        <variable name="BILLING_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnGxHcrFjhG21X3PH1806T3euA067Ud4MUUs4Ka1dKN8miWfxA5jSbGJpcQp8YBHKCdinQDutzQkgOQBVyc/d6MfyJzHUpHex+cKJYjT4ZdoeeFrWvig5dnAsaJa4OKl8gkeCyKYhEaPazDChIdA0uVLhvIlJNHuvWwrwCPzL4tqQ7s/ha0bJeLOuFZQ5ACP77JgPOTLaDyxWOLMuzwZdDt7KohNkHW2lL0BYffDKMy5bh131BgdNKGB5nzPGOqrO4kfw6MrppKjbcsq8NjYi0ps2HTb465iAMKR0aZ60VzEXNtJ9sLkKBIZGdWHVAbG6Dnw9rgLl7tXPOe2T6jR+dwIDAQAB" />
    </plugin>
</widget>
