html,body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body{
    background-image: url("../assets/bgMenu.jpg");
}

#game canvas{
	z-index: 2;
}
#inGameLoader{
	position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2;
}
#sideMenu{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    z-index: 2;
    background-color: #444545;
    border-bottom: 2px solid #cc5858;
    color: white;
}
#leaveBtn{
	margin: 5px;
    border: 2px solid #cc5858;
    border-radius: 5px;
    color: white;
    background: rgba(204, 88, 88, 0.35);
}

div#menu{
    color: white;
    text-align: center;
    margin: auto;
    width: 70%;
    height: 20%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div#msg{
    color: white;
    text-align: center;
    width: 99vw;
    padding: 10px 0;
    border: 2px solid #cc5858;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.menuBtn{
	width: 100%;
    border-radius: 5px;
    padding: 8px;
    margin-top: 10px;
    font-family: Impact;
    font-size: 20px;
    border: 2px solid #cc5858;
    color: white;
    background: rgba(221,45,45 1);
}
.menuBtn:hover{
	background-color: #cc5858;
}
#buttons{
	margin-top: 10%;
	margin-bottom: 10%;
}
#timer{
	text-align: center;
    padding: 20px;
    color: black;
    font-size: 20px;
    font-family: CURSIVE;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #FFF, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}