canvas{
	left: 0;
	top: 0;
	position: absolute;
	background-color: white;
	z-index: 1;
}
#inGameLoader{
	position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

div#menu{
    color: white;
    text-align: center;
    margin: auto;
    width: 70%;
    height: 20%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div#msg{
    color: white;
    text-align: center;
    width: 100%;
    height: 10%;
    padding: 10px 0;
    border: 2px solid #cc5858;
}


body{
	background-color: #444545;
}

.menuBtn{
	width: 100%;
    border-radius: 5px;
    padding: 8px;
    margin-top: 10px;
    font-family: Impact;
    font-size: 20px;
    border: 2px solid #cc5858;
    color: white;
    background: rgba(204, 88, 88, 0.35);
}
.menuBtn:hover{
	background-color: #cc5858;
}
#buttons{
	margin-top: 10%;
	margin-bottom: 10%;
}
#timer{
	text-align: center;
    padding: 20px;
    color: black;
    font-size: 20px;
    font-family: CURSIVE;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #FFF, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}